
.box {
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  top: 100px;
  left: 50px;
  animation: moveBOX 2s  infinite;
}   
.box p{
    color: rgb(72, 255, 0);
    position: absolute;
    top: 33px;
    left: 20px;
}

@keyframes moveBOX{
    0%{
       transform: translateX(0); 
    }
    50%{
        transform: translateX(1000PX);
    }
    100%{
        transform:translateX(0);        
    }
}
