body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 100vh;
  /* border: 10px solid blue; */

  place-items: center;
}

.box {
  border: 2px solid red;
  padding: 30px;
  background: lightgray;
  font-size: 20px;
}
